<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="wannabit.io.bitcv">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="false"
        tools:replace="android:allowBackup"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="wannabit.io.bitcv.base.BaseApplication"
        android:hardwareAccelerated="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true">

        <activity
            android:name="wannabit.io.bitcv.activities.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="wannabit.io.bitcv.activities.PasswordSetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.PasswordCheckActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.AppLockActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.AppLockSetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
        </activity>


        <activity
            android:name="wannabit.io.bitcv.activities.CreateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.RestoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.RestorePathActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.WatchingAccountAddActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.TokenDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.ValidatorListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.ValidatorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.VoteListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.VoteDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.SendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.DelegateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.UndelegateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.RedelegateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.ClaimRewardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.RewardAddressChangeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.ReInvestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.VoteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.TxDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>


        <activity
            android:name="wannabit.io.bitcv.activities.WebActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.AccountListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.AccountDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.MnemonicCheckActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.WalletConnectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.HtlcSendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.HtlcResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.HtlcRefundActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.EventStakeDropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>



        <activity
            android:name="wannabit.io.bitcv.activities.chains.kava.DAppsListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.chains.kava.CdpDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.chains.kava.HarvestDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.chains.kava.CreateCdpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.chains.kava.RepayCdpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.chains.kava.DrawDebtActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.chains.kava.DepositCdpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.chains.kava.WithdrawCdpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.chains.kava.ClaimIncentiveActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.chains.kava.DepositHarvestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.chains.kava.WithdrawHarvestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.chains.kava.ClaimHarvestRewardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>




        <activity
            android:name="wannabit.io.bitcv.activities.chains.ok.OKStakingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.chains.ok.OKUnbondingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.chains.ok.OKValidatorListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.chains.ok.OKVoteDirectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>





        <activity
            android:name="wannabit.io.bitcv.activities.chains.starname.StarNameListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.chains.starname.RegisterStarNameDomainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.chains.starname.RegisterStarNameAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.chains.starname.StarNameDomainDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.chains.starname.StarNameAccountDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.chains.starname.DeleteStarNameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.chains.starname.ReNewStarNameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.chains.starname.ReplaceStarNameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.chains.starname.StarNameResourceAddActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name="wannabit.io.bitcv.activities.chains.starname.StarNameWalletConnectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>


        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <service android:name="wannabit.io.bitcv.base.BaseFCM">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />

        <!--<meta-data-->
            <!--android:name="com.google.firebase.messaging.default_notification_color"-->
            <!--android:resource="@color/colorWhite" />-->


        <activity
            android:name="wannabit.io.bitcv.test.TestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTask">
        </activity>
    </application>

</manifest>